{% extends 'base.html' %}
{% block title %}ABOUT{% endblock %}
{% block style %}
#hc{
color:black;
font-size:40px;
text-align:center;
<!--padding-top:100px;-->
}
.div1{
padding-top:60px;
}

{% endblock %}
{% block body %}
<div class=" div1 container-fluid mt-5">
<h1 id="hc">About Us</h1>
</div>
<div class="row container-fluid" style="padding-left:400px;">
    <div class="col-8">
    <p>A hospital is a healthcare institution providing patient treatment with specialized health science and auxiliary healthcare staff and medical equipment</p>
    <p>A one-stop multi super specialty hospital that will take care of all your health and medical needs. Renai Medicity, come up with an expert insight into health services has set highest standards for quality and care to ensure top-notch healthcare experience. Our vision is to assure comprehensive and affordable healthcare for all.</p>
    <p>Built in Memory of our founder late Polakulath Narayanan, the hospital has evolved to its present form from his extraordinary vision. A dream cherished by him; to provide the most advanced healthcare to the society; a complete hospital that has world class facilities, affordable treatment costs at a location very much in the heart of the city.</p>
    </div>
</div>
{% endblock %}