<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill</title>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
	</script>
<script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
	</script>
<link href=
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
		rel="stylesheet" type="text/css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
    .table1
     {
    border:black;border-collapse: collapse;width: 100%;
}
#main_h{
padding-top:10px;font-size:30px;

}
.th1{
background-color: #D6EEEE;
}









#ad_div{
padding-left:460px;
}

</style>

</head>
<body>
<div class="container" style="padding-top:10px;padding-bottom:5px;">
          <div class="container mx-2 " >
              <div >
              <h3 id="main_h">Hospital Management</h3>
              <div  id="ad_div" >
                    {% for i in s %}
                         <label>Admit date :</label>
                            <label>{{i.join_date}}</label><br>
                  {% endfor %}
                        <label>Release date :</label>
                  {% for i in disc %}
                            <label>{{i.release_date}}</label><br>
                  {% endfor %}
                        <label>Days Spent :</label>
                            <label>{{c}}</label><br>

            </div>
              </div>

        <div class="row pt-3">
              <div class="col-4"  style="padding-top:10px;">
                  {% for i in s %}
                                <label>Patient Name :</label>
                                    <label>{{ i.first_name}} {{ i.last_name }}</label><br>
                                <label>Patient Mobile :</label>
                                    <label>{{i.mobile}}</label><br>
                                <label>Patient Address :</label>
                                    <label>{{i.address}}</label><br>

              </div>
              <div class="col"   style="padding-left:460px;">
                         <label>Doctor Name :</label>
                            <label>{{doct.first_name}} {{doct.last_name}}</label><br>


            </div>
        </div>
              <div class="row pt-4 px-2">
                  <table  class="table1" style="text-align:left;">
                      <tr>
                      <th class="th1">Disease and Symptoms</th>
                      </tr>
                      <tr>
                          <td style="text-align:left;">

                              {{i.symptom}}
                              {% endfor %}
                          </td>
                      </tr>
                  </table>


            </div>

              <div class="row pt-4 px-2">


                  <table class="table1" style="text-align:left;">
                      <tr>
                      <th class="th1">Item</th>
                          <th class="th1" style="text-align:center;">Price</th>
                      </tr>
                      <tr>
                          {% for i in disc %}
                          <td style="text-align:left;">Room Charge(per Day)</td>
                          <td style="text-align:center;">{{i.room_charge}}</td>
                      </tr>
                      <tr>
                          <td style="text-align:left;">Doctor Fee</td>
                          <td style="text-align:center;">{{i.doc_fee}}</td>
                      </tr>
                      <tr>
                          <td style="text-align:left;">Medicine Cost</td>
                          <td style="text-align:center;">{{i.medicine_cost}}</td>
                      </tr>
                      <tr>
                          <td style="text-align:left;">Other Charge</td>
                          <td style="text-align:center;">{{i.other_charge}}</td>
                      </tr>
                      <tr>
                          <td style="text-align:left;"><b>Total Charge</b></td>
                          <td style="text-align:center;"><b>{{i.total_charge}}</b></td>
                      </tr>
                      {% endfor %}
                  </table>


            </div>

          </div>
 </div>

</body>
</html>