{% extends 'base.html'%}
{% block title %}Doctor Login{% endblock %}

{% block style %}
#hc{
color:black;

text-align:center;
padding-top:10px;
<!--padding-top:100px;-->
}
.div1{
background-color:#89CFF0;
border-bottom:solid 1px;
height:55px;
}
#main_div{
height:250px;
border:solid 1px;
width:50%;
margin-left:300px;
margin-top:150px;
}


{% endblock %}
{% block body %}
<div id="main_div">
    <div class=" div1 container-fluid ">
    <h4 id="hc"> Doctor Login</h4>
    </div>
    <div class="container mt-4" style="margin-left:50px;">
        <form method="POST" >
            {% csrf_token %}

        <div class="row mt-3">
            <div class="col">
                <input type="text" placeholder="User Name" id="uname" name="uname"><br>
            </div>
            <div class="col">
                 <input type="password" placeholder="Password" id="password" name="password">
            </div>
            <div class="row mt-4">
                <button type="submit" id="bt_login" class="btn btn-primary" style="width:100px;margin-left:250px;">Login</button>

            </div>

        </div>
    </form>
    </div>

<div style="text-align:center;padding-top:20px;">
    <h6>Do not have an account?<a href="doctor_signup">Sign Up</a> </h6>
</div>




</div>

{% endblock %}
