{% extends 'base_admin.html'%}
{% block title %}Admin Home{% endblock %}
{% load static %}
{% block style %}
.i_card {
  background-color: white;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 10px;
}
.doc_card:hover{
box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}
#left_top_div{
background-color:#3BB78F;
<!--width:100px;-->
border:solid 1px;
text-align:center;
border-bottom:none;
}
#img1 {
border-radius: 50%;
border:solid 3px yellow;
}

.left_bot_div{

height:330px;

background-color:#4ebe9a;
border-top:none;
}
.anchor{
color:black;
}
a:link{
color:black;
text-decoration: none;

}
.anchor:hover {
color:rgb(56,56,56);

}
table,th,td{
  border:1px solid black;
    border-collapse: collapse;
text-align:center;
}


a:visited {
  text-decoration: none;
}
.right_div{
border:solid 1px;


}


.div1{
padding-top:80px;
}
#hc{
color:black;
font-size:60px;
text-align:center;
<!--padding-top:100px;-->
}
.btn1{
margin-left:500px;
}

{% endblock %}
{% block body %}
{% if w %}
<div class=" div1 container-fluid mt-5">
<h1 id="hc">Hello, Doctor </h1>
    <p style="text-align:center;font-size:18px;">Your Account is not approved till now</p>
      <p style="text-align:center;font-size:18px;padding-top:10px;">Our team is checking your profile</p>
</div>
<p style="text-align:center;font-size:15px;">Soon your Account will be confirmed!!!</p>
<hr>
    <a href="home"> <button type="button" class="btn btn-primary btn1">Logout for Now</button></a>
{% endif %}
{% if nw %}

<div class="container-fluid">
  <div class="row">
    <div class=" left_div col-2" >
                  <!--    1st row 1st col-->
                  <div class=" row" id="left_top_div">
                          <div class="col mt-5 mb-3">
                            {% for i in s %}
                            <img id="img1" src="{{i.profile.url}}" alt="img1" height="80px" width="80px;">
                            <h5>DOCTOR</h5>

                            <h1>{{i.first_name}}</h1>
                            {% endfor %}

                          </div>
                  </div>


                <div class="left_bot_div row">
                  <div class="col mt-4 mb-4" >
                  <h5><a class="anchor" href="doctor_dashboard" ><i class="fa fa-dashboard"></i> Dashboard</a></h5>

                  <a class="anchor" href="doctor_patient"> <h5><i class="fa fa-wheelchair"></i> Patient</h5></a>
                  <a class="anchor" href="doctor_appointment"> <h5><i class="fa fa-calendar"> </i> Appointments</h5></a>
                  </div>

                </div>

    </div>
    <div class=" right_div col " >
        <nav class="navbar  navbar-expand-lg navbar-light fixed-top "  style="background-color:#002D62; height:50px;">

        <div class="container-fluid">
          <a class="navbar-brand" href="home" style="color:white;">Hospital Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <!-- <span class="navbar-text">
              Navbar text with an inline element
            </span> -->

                <ul class="d-flex">
                    <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">

                <a class="nav-link active" style="color:white;" aria-current="page" href="doc_logout"><b>Logout</b></a>

              </li>

<!--                <li class="nav-item">-->

<!--                <a class="nav-link active" href="#"><b>Login</b></a>-->

<!--              </li><br>-->



            </ul>
                         </div>
                </ul>

                    </div>
</nav>



        {% if dash %}
        <div class="row mx-2 mt-5">
<!--            doctor col-->
            <div class="col">
                        <div class="card mt-5" style="width: 18rem;background-color:red;height:130px;">

                        <div class="row">
                            <div class="col px-4">
                                <div class="card-body " style="color:white;" >
                                    <h5 class="card-title">{{appoint_c}}</h5>
                                    <p class="card-text">Appointments For You</p>

                                  </div>
                            </div>
                            <div class="col-1 mt-5 " style="margin-right:80px;">
                                <i class=" i_card fa fa-calendar" style="font-size:35px;color:orange;"></i>
                            </div>
                        </div>

                    </div>
            </div>

<!--            patient col-->

            <div class="col">
                        <div class="card mt-5" style="width: 18rem;background-color:orange;height:130px;">

                        <div class="row">
                            <div class="col px-4">
                                <div class="card-body " style="color:white;" >
                                    <h5 class="card-title">{{pat_c}}</h5>
                                    <p class="card-text">Patient Under You</p>

                                  </div>
                            </div>
                            <div class="col-1 mt-5 " style="margin-right:80px;">
                                <i class=" i_card fas fa-user-alt" style="font-size:35px;color:orange;"></i>
                            </div>
                        </div>

                    </div>
            </div>

<!--            appointment col-->
            <div class="col">
                        <div class="card mt-5" style="width: 18rem;background-color:blue;height:130px;">

                        <div class="row">
                            <div class="col px-3">
                                <div class="card-body " style="color:white;" >
                                    <h5 class="card-title">{{d_c}}</h5>
                                    <p class="card-text">Your Patients Discharged</p>

                                  </div>
                            </div>
                            <div class="col-1 mt-5 " style="margin-right:80px;">
                                <i class="i_card fa fa-refresh"style="font-size:35px;color:orange;"></i>
                            </div>
                        </div>

                    </div>
<!--                end row-->
            </div>

        </div>
        <div class="row mt-5 mx-3">
            <div class="col">
                <div>
                <div style="border:solid 1px;text-align:center;background-color:#002D62;">
                    <h3 style="color:white;">Recent Appointments For You</h3>

                </div>
                    <table style="width:100%">
                        <tr>
                            <th>Patient Name</th>
                            <th>Patient ID</th>
                            <th>Description</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>Date</th>
                        </tr>

                        {% for i in a %}
                        <tr>

                            <td>{{i.patient_name}}</td>
                            <td style="color:red;"><b>{{i.pat_id}}</b></td>
                            <td>{{i.description}}</td>
                            {% for j in p %}
                            <td>{{j.mobile}}</td>
                            <td>{{j.address}}</td>
                            {% endfor %}
                            <td>{{i.join_date}}</td>

                        </tr>
                        {% endfor %}
                </table>
                    </div>

            </div>

            </div>


        </div>


        {% endif %}


      {% if pat %}
<div class="row mt-5 mx-5">
    <div class="col">
        <a href="your_patient_record">
        <div class=" doc_card card mt-5" style="width: 18rem;background-color:#6699CC;height:130px;">

                        <div class="row">
                            <div class="col px-4">
                                <div class="card-body " style="color:white;" >
                                    <h5 class="card-title">Your IP Patient Record</h5>

                                  </div>
                            </div>
                            <div class="col-1 mt-3 " style="margin-right:80px;">
                               <i class=" i_card fas fa-user-alt" style="font-size:35px;color:orange;"></i>
                            </div>
                        </div>

                    </div>
        </a>
    </div>
<div class="col">
        <a href="your_op_patient_record">
        <div class=" doc_card card mt-5" style="width: 18rem;background-color:#E23D28;height:130px;">

                        <div class="row">
                            <div class="col px-4">
                                <div class="card-body " style="color:white;" >
                                    <h5 class="card-title">Your OP Patient Record</h5>

                                  </div>
                            </div>
                            <div class="col-1 mt-3 " style="margin-right:80px;">
                               <i class=" i_card fas fa-user-alt" style="font-size:35px;color:orange;"></i>
                            </div>
                        </div>

                    </div>
        </a>
    </div>

    <div class="col">
        <a href="y_d_p">
        <div class=" doc_card card mt-5" style="width: 18rem;background-color:#29AB87;height:130px;">

                        <div class="row">
                            <div class="col px-4">
                                <div class="card-body " style="color:white;" >
                                    <h5 class="card-title">Your Discharged Patients</h5>

                                  </div>
                            </div>
                            <div class="col-1 mt-3 " style="margin-right:80px;">
                            <i class=" i_card fa fa-thumbs-up" style="font-size:35px;color:orange;"></i>
                            </div>
                        </div>

                    </div>
        </a>
    </div>



</div>


      {% endif %}
{% if y_p_r %}
  <div class="container" style="padding-top:100px;">
          <div style="border:solid 1px;text-align:center;background-color:#002D62; height:50px;">
              <h4 style="color:white;padding-top:10px;">Your IP Patient List</h4>
          </div>
          <table style="width:100%">
              <tr>
                 <th>Name</th>

                  <th>Symptoms</th>
                  <th>Treated</th>

              </tr>

              {% for i in a %}
              <tr>
                  <td>{{i.patient_name}}</td>

                  <td>{{i.description}}</td>

                    <td><a href="doc_discharge{{i.id}}"> <button style="background-color:red;margin-left:20px;"><i class="fa fa-times" ></i></button></a></td>
              {% endfor %}
              </tr>


          </table>

      </div>



{% endif %}
      {% if y_o_p_r %}
  <div class="container" style="padding-top:100px;">
          <div style="border:solid 1px;text-align:center;background-color:#002D62; height:50px;">
              <h4 style="color:white;padding-top:10px;">Your OP Patient List</h4>
          </div>
          <table style="width:100%">
              <tr>
                 <th>Name</th>



                  <th>Symptoms</th>
                  <th>Treated</th>

              </tr>
    {% for i in a %}

              <tr>
                  <td>{{i.patient_name}}</td>


                  <td>{{i.description}}</td>

                    <td><a href="doc_discharge_OP{{i.id}}"> <button style="background-color:green;margin-left:20px;"><i class="fa fa-refresh" ></i></button></a></td>

              </tr>
              {% endfor %}

          </table>

      </div>



{% endif %}

      {% if app %}
      <div class="row mt-5 mx-5">
    <div class="col">
        <a href="doctor_v_y_a">
        <div class=" doc_card card mt-5" style="width: 18rem;background-color:#6699CC;height:130px;">

                        <div class="row">
                            <div class="col px-4">
                                <div class="card-body " style="color:white;" >
                                    <h5 class="card-title">View Your Appointments</h5>

                                  </div>
                            </div>
                             <div class="col  " style="margin-left:100px;">
                               <i class=" i_card fa fa-calendar" style="font-size:35px;color:orange;"></i>
                            </div>
                        </div>

                    </div>
        </a>
    </div>

    <div class="col">
        <a href="delete_appoint">
        <div class=" doc_card card mt-5" style="width: 18rem;background-color:#29AB87;height:130px;">

                        <div class="row">
                            <div class="col px-4">
                                <div class="card-body " style="color:white;" >
                                    <h5 class="card-title">Delete Appointments</h5>

                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col  " style="margin-left:100px;">
                            <i class=" i_card fa fa-thumbs-up" style="font-size:35px;color:orange;"></i>
                            </div>
                        </div>

                    </div>
        </a>
    </div>



</div>


      {% endif %}

      {% if approve_doctor %}
      <div class="container" style="padding-top:100px;">
          <div style="border:solid 1px;text-align:center;background-color:#002D62; height:50px;">
              <h4 style="color:white;padding-top:10px;">Doctors Applied For Registeration</h4>
          </div>
          <table style="width:100%">
              <tr>
                 <th>Name</th>
                  <th>Profile</th>
                  <th>Mobile</th>
                  <th width="200px">Address</th>
                  <th>Department</th>
                  <th>Approve</th>
                  <th>Reject</th>
              </tr>
              {% if s2 %}
              {% for i in s2 %}
              <tr>
                  <td>{{i.first_name}} {{i.last_name}}</td>
                  <td></td>
                  <td>{{i.mobile}}</td>
                  <td>{{i.address}}</td>
                  <td>{{i.specialisation}}</td>
                  <td><a href="approve{{i.id}}"> <button style="background-color:green;margin-left:20px;"><i class="fa fa-check-square"></i></button></a></td>
                  <td><a href="reject{{i.id}}"> <button style="background-color:red;margin-left:20px;"><i class="fa fa-times" ></i></button></a></td>
              </tr>
              {% endfor %}
              {% endif %}
          </table>

      </div>
      {% endif %}


      {% if doctor_record %}
<!--      <h1 style="padding-top:300px;"></h1>-->
      <div class="container" style="padding-top:100px;">
          <div style="border:solid 1px;text-align:center;background-color:#002D62; height:50px;">
              <h4 style="color:white;padding-top:10px;">Doctors Record</h4>
          </div>
          <table style="width:100%">
              <tr>
                 <th>Name</th>
                  <th>Profile</th>
                  <th>Mobile</th>
                  <th width="200px">Address</th>
                  <th>Department</th>
                  <th>Update</th>
                  <th>Delete</th>
              </tr>
                {% if s2 %}
              {% for i in s2 %}
              <tr>
                  <td>{{i.first_name}} {{i.last_name}}</td>
                  <td></td>
                  <td>{{i.mobile}}</td>
                  <td>{{i.address}}</td>
                  <td>{{i.specialisation}}</td>
                  <td><a href="approve{{i.id}}"> <button style="background-color:green;margin-left:20px;"><i class="fa fa-refresh" ></i></button></a></td>
                  <td><a href="reject{{i.id}}"> <button style="background-color:red;margin-left:20px;"><i class="fa fa-times" ></i></button></a></td>
              </tr>
              {% endfor %}
                {% endif %}
          </table>

      </div>

      {% endif %}

      {% if doctor_special  %}
        <div class="container" style="padding-top:100px;">
          <div style="border:solid 1px;text-align:center;background-color:#002D62; height:50px;">
              <h4 style="color:white;padding-top:10px;">Departments and Doctors </h4>
          </div>
            <div class="row mt-3">
                <div class="col">
                    <table style="width:100%;">
            <tr>
                <th colspan="2">Cardiology</th>

            </tr>

              <tr>
                  <th>Name</th>
                  <th>Mobile</th>
              </tr>
                        {% for i in s2 %}
                        <tr>
                           <td>{{i.first_name}}{{i.last_name}}</td>
                            <td>{{i.mobile}}</td>
                        </tr>
                        {% endfor %}
          </table>
                </div>

                </div>

            <div class="row mt-3">
                <div class="col">
                    <table style="width:100%;">
            <tr>
                <th colspan="2">Gynacology</th>

            </tr>

              <tr>
                  <th>Name</th>
                  <th>Mobile</th>
              </tr>
                        {% for i in sgyn %}
                        <tr>
                           <td>{{i.first_name}}{{i.last_name}}</td>
                            <td>{{i.mobile}}</td>
                        </tr>
                        {% endfor %}
          </table>
                </div>

                </div>
            <div class="row mt-3">
                <div class="col">
                    <table style="width:100%;">
            <tr>
                <th colspan="2">Pediatrics</th>

            </tr>

              <tr>
                  <th>Name</th>
                  <th>Mobile</th>
              </tr>
                        {% for i in sp %}
                        <tr>
                           <td>{{i.first_name}}{{i.last_name}}</td>
                            <td>{{i.mobile}}</td>
                        </tr>
                        {% endfor %}
          </table>
                </div>

                </div>
            <div class="row mt-3">
                <div class="col">
                    <table style="width:100%;">
            <tr>
                <th colspan="2">General Medicine</th>

            </tr>

              <tr>
                  <th>Name</th>
                  <th>Mobile</th>
              </tr>
                        {% for i in s %}
                        <tr>
                           <td>{{i.first_name}}{{i.last_name}}</td>
                            <td>{{i.mobile}}</td>
                        </tr>
                        {% endfor %}
          </table>
                </div>

                </div>
            <div class="row mt-3">
                <div class="col">
                    <table style="width:100%;">
            <tr>
                <th colspan="2">Neurology</th>

            </tr>

              <tr>
                  <th>Name</th>
                  <th>Mobile</th>
              </tr>
                        {% for i in sn %}
                        <tr>
                           <td>{{i.first_name}}{{i.last_name}}</td>
                            <td>{{i.mobile}}</td>
                        </tr>
                        {% endfor %}
          </table>
                </div>

                </div>
      </div>


      {% endif %}
      {% if v_y_a %}
       <div class="container" style="padding-top:100px;">
          <div style="border:solid 1px;text-align:center;background-color:#002D62; height:50px;">
              <h4 style="color:white;padding-top:10px;">Your Appointments</h4>
          </div>
          <table style="width:100%">
              <tr>
                 <th>Patient Name</th>

                  <th>Description</th>

                  <th>Appointment Date</th>

              </tr>

              {% for i in a %}
              <tr>
                  <td>{{i.patient_name}}</td>



                  <td>{{i.description}}</td>

                  <td>{{i.join_date}}</td>

              </tr>
              {% endfor %}

          </table>

      </div>




      {% endif %}
      {% if delete_a %}
      <div class="container" style="padding-top:100px;">
          <div style="border:solid 1px;text-align:center;background-color:#002D62; height:50px;">
              <h4 style="color:white;padding-top:10px;">Your Appointments</h4>
          </div>
          <table style="width:100%">
              <tr>
                 <th>Patient Name</th>

                  <th>Description</th>
                    <th>IP</th>
                  <th>OP</th>

              </tr>

              {% for i in a %}
              <tr>
                  <td>{{i.patient_name}}</td>



                  <td>{{i.description}}</td>
                  <td><a href="IP{{i.id}}"> <button style="background-color:red;margin-left:20px;"><i class="fa fa-times" ></i></button></a></td>
                  <td><a href="OP{{i.id}}"> <button style="background-color:red;margin-left:20px;"><i class="fa fa-times" ></i></button></a></td>
              </tr>
              {% endfor %}

          </table>

      </div>


      {% endif %}
      {% if y_d_p %}
      <div class="container" style="padding-top:100px;">
          <div style="border:solid 1px;text-align:center;background-color:#002D62; height:50px;">
              <h4 style="color:white;padding-top:10px;">Your Discharged Patient List</h4>
          </div>
          <table style="width:100%">
              <tr>
                 <th>Patient Name</th>
                  <th>Admit Date</th>
                  <th>Release Date</th>
                    <th>Mobile</th>
                  <th>Symptoms</th>
                    <th>Address</th>
              </tr>

              {% for i in dis %}
              <tr>
                  {% for j in pat_rec %}
                  <td>{{j.first_name}} {{j.last_name}}</td>
                   <td>{{j.join_date}}</td>
                  <td>{{i.release_date}}</td>
                    <td>{{j.mobile}}</td>
                  <td>{{j.symptom}}</td>
                    <td>{{j.address}}</td>
                {% endfor %}

              </tr>
              {% endfor %}

          </table>

      </div>


      {% endif %}
  </div><!--  right div close-->

<!--2nd row-->



<!--  next col-->



  </div>

{% endif %}


{% endblock %}