{% extends 'base.html' %}
{% block title %}SIGNUP{% endblock %}
{% block script2 %}{% endblock %}
{% block script %}
function validate(){
var pwd=document.getElementById("password_pat").value;
    var user=document.getElementById("username_pat").value;
    var user_pat=/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}/;
    var pwd_pat=/(?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*])(?=.*[A-Z]).{4,}/;
    if(pwd_pat.test(pwd)==false){
        $('#pass_span').html('Password must contain  min 4 char, atleast 1 upper case, 1 lower case, 1 digit 1spl char[!@#$%^&*]');
<!--        alert("Password must contain  min 4 char, atleast   1 upper case, 1 lower case, 1 disgit 1spl char[!@#$%^&*]");-->
        return false;
        }
    else if(user_pat.test(user)==false){
        $('#error_span').html('username must contain  min 4 char, atleast 1 upper case, 1 lower case, 1 digit ');
<!--        alert("Password must contain  min 4 char, atleast   1 upper case, 1 lower case, 1 disgit 1spl char[!@#$%^&*]");-->
        return false;
        }
    else{
    alert("Registered Successfully!!!")
    return true;
    }


<!--$(function(){-->
<!--var avail=[-->
<!--{% for i in s %}-->
<!--"{{i.symptom}}",-->
<!--{% endfor %}-->
<!--];-->
<!--$(#symptom).autocomplete({-->
<!--source: avail-->
<!--});-->
<!--});-->

}
{% endblock %}
{% block style %}
#hc{
color:black;

text-align:center;
padding-top:10px;
<!--padding-top:100px;-->
}
.div1{
background-color:#89CFF0;
border-bottom:solid 1px;
height:55px;
}
#main_div{
height:400px;
border:solid 1px;
width:50%;
margin-left:300px;
margin-top:130px;
}
{% endblock %}


{% block body %}
<div id="main_div">
    <div class=" div1 container-fluid ">
    <h4 id="hc">Patient Registeration</h4>
    </div>
    <div class="container mt-4" style="margin-left:50px;">
        <form method="POST" id="my_form" action="patient_signup_admin" enctype="multipart/form-data" onsubmit="return validate()">
            {% csrf_token %}
        <div class="row mt-3">
            <div class="col">
                <input type="text" placeholder="First Name" id="fname" name="fname"   autocomplete="off" required><br>
            </div>
            <div class="col">
                 <input type="text" placeholder="last Name" id="lname" name="lname"  autocomplete="off" required>
            </div>
         </div>
            <div class="row mt-3">

            <div class="col">
                 <input type="text" placeholder="Mobile" id="mobile" name="mobile" required autocomplete="off"pattern="[0-9]{10}">
            </div>
                <div class="col">
                 <input type="text" placeholder="Symptoms" id="symptom" name="symptom" required>
            </div>
         </div>

        <div class="row mt-3">
            <div class="col">
                <input type="text" placeholder="User Name" id="username_ad_pat" name="username_pat" required autocomplete="off" ><br>
            </div>
            <div class="col">
                 <input type="password" placeholder="Password" id="password_ad_pat" name="password_pat" required autocomplete="off">
            </div>
        </div>
            <div class="row">
                <div class="col">
                <span id="error_span" style="color:red;"></span>
                </div>
                <div class="col">
                <span id="pass_span" style="color:red;"></span>
                </div>

            </div>
            <div class="row mt-3">
            <div class="col">
                <input type="text" placeholder="Address" id="address" name="address" required autocomplete="off"><br>
            </div>
            <div class="col">
                <select id="doc" name="doc"  style="width:80%;" >
                    <option name="doc" value="special">Doctor and Description</option>
                    {% for i in s %}
                    <option name="doc" value="{{i.user_name}}">{{i.first_name}} {{i.last_name}}({{i.specialisation}})</option>
                    {% endfor %}
              </select><br>

            </div>

         </div>
            <div class="row mt-3">
                <div class="col">
                <label>Profile Picture</label>
                 <input type="file"  id="file" name="file">
            </div>
            </div>
            <div class="row mt-4">
                <button type="submit" id="signup_btn" class="btn btn-primary" style="width:100px;margin-left:250px;">Apply</button>

            </div>



    </form>
    </div>

<div style="text-align:center;padding-top:20px;">
    <h6>Already have an account?<a href="patient_login">Login Here</a> </h6>
</div>




</div>
{% endblock %}